version: '3.8'

services:
  notification-service:
    build: .
    container_name: notification-service
    image: notification-service:latest
    ports:
      - "9083:9083"
    networks:
      - notification-network

networks:
  notification-network:
    driver: bridge
